name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable' # or: 'beta', 'dev' or 'master'

      - name: Init scripts
        run: dart pub get
        working-directory: .

      - name: Flutter Build
        env:
          AQI_TOKEN: ${{ secrets.AQI_TOKEN }}
        run: flutter build web --dart-define=AQI_TOKEN="$AQI_TOKEN"
        working-directory: .

      - name: Flutter Test
        env:
          AQI_TOKEN: ${{ secrets.AQI_TOKEN }}
        run: flutter test --dart-define=AQI_TOKEN="$AQI_TOKEN"
        working-directory: .

      - name: Publish To GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/web
          cname: app.cyrilng.com
